---
const { texto } = Astro.props;
---

<div class="card card-xl shadow-sm bg-stone-900 mt-2 md:mt-0 md:mb-2 p-6">
  <h3 class="text-3xl text-red-600 mb-2">Detalles</h3>
  <div set:html={texto} class="prose-md" />
</div>
