---
import Reloj from "@components/extras/Reloj.astro";
import { Mail, Phone } from "@lucide/astro";
const datos = await fetch("https://mindicador.cl/api").then((res) =>
  res.json(),
);
---

<div class="flex items-center justify-between lg:mb-2">
  <div class="lg:flex gap-2">
    <h2 class="flex items-center">Valores económicos</h2>
    <div class="grid grid-cols-2 md:flex gap-2 mb-4 mt-2 md:m-0">
      <div class="col-span-1 rounded-lg bg-red-800 text-white p-2">
        <div class="flex flex-col md:flex-row gap-4 items-center">
          <p class="font-bold">UF</p>
          <p class="font-bold">{datos.uf.valor}</p>
        </div>
      </div>
      <div class="col-span-1 rounded-lg bg-slate-800 p-2">
        <div class="flex flex-col md:flex-row gap-4 items-center">
          <p class="font-bold">Dolar</p>
          <p class="font-bold">{datos.dolar.valor}</p>
        </div>
      </div>
    </div>
    <Reloj />
  </div>
  <div class="flex items-center gap-4 text-lg">
    <a
      href="mailto:contacto@marsolpropiedades.cl"
      class="flex items-center gap-1 hover:underline"
      ><Mail color="red" size={20} />contacto@marsolpropiedades.cl</a
    >
    <a
      href="https://wa.me/56995999796?text=Hola,%20quiero%20más%20información."
      class="flex items-center gap-1 hover:underline"
      ><Phone color="red" size={20} />56995999796</a
    >
  </div>
</div>
