<div class="card card-xl">
  <div class="card-body">
    <h3 class="card-title">NUESTRO EQUIPO</h3>
    <p class="text-gray-600">
      Somos un apasionado equipo de corredores inmobiliarios. Trabajamos con
      devoción a nuestros clientes. Cada aspecto del negocio tiene como objetivo
      el éxito. Agradecemos que confíe en nosotros para ayudarlo a encontrar las
      mejores soluciones para usted.
    </p>
  </div>
</div>
