---
// In your .astro page or component's frontmatter:
const now = new Date();
---

<div
  id="clock"
  class="font-bold bg-red-800 text-white flex justify-center align-center rounded-md p-2"
>
</div>

<script define:vars={{ now }} client:only>
  function startTime() {
    const today = new Date();
    let h = today.getHours();
    let m = today.getMinutes();
    m = checkTime(m);
    document.getElementById("clock").innerHTML = h + ":" + m;
    setTimeout(startTime, 1000);
  }

  function checkTime(i) {
    if (i < 10) {
      i = "0" + i;
    } // add zero in front of numbers < 10
    return i;
  }

  startTime();
</script>
