---
import Container from "@layouts/Container.astro";
import Buscardor from "@components/inicio/Buscador.astro";
import Reloj from "@components/extras/Reloj.astro";
import Datos from "@components/extras/Datos.astro";
import Video from "@components/propiedad/Video.astro";
---

<Container>
  <div class="aside">
    <div class="hidden lg:block">
      <Datos />
    </div>
    <div class="card image-full lg:h-96 portada rounded-none md:rounded-md">
      <figure class="hidden lg:block">
        <img
          src="/images/fondo.webp"
          alt="Cabecera Marsol"
          class="w-full object-top"
        />
      </figure>
      <div
        class="card-body flex lg:flex-row justify-around items-center relative"
      >
        <div class="flex flex-col py-4">
          <h1
            class="card-title md:text-6xl md:max-w-md text-shadow-lg/30 pb-4 text-center md:text-left"
          >
            Vendemos o arrendamos su propiedad
          </h1>
          <p
            class="md:text-xl md:max-w-md text-shadow-lg/30 text-center md:text-left"
          >
            ¿Necesitas vender o arrendar? Confía en los mejores profesionales
          </p>
        </div>
        <img
          src="/favicon.svg"
          alt="Logo Marsol Propiedades"
          class="w-16 lg:w-32 lg:absolute"
        />
        <Video />
      </div>
    </div>
  </div>

  <Buscardor />
</Container>

<style>
  @media (width >= 48rem) {
    .portada {
      height: 600px;
    }
    .video {
      height: 500px;
    }
  }
</style>
