---
import Container from "@layouts/Container.astro";
import { ArrowLeft } from "@lucide/astro";
import { menu } from "@lib/menu.ts";
---

<div class="bg-base-100 shadow-sm hidden md:block">
  <Container>
    <div class="navbar">
      <div class="flex-1">
        <a href="/" class="flex items-center">
          <img
            src="https://marsolpropiedades.cl/logos/logo-completo.png"
            alt="Logo Marsol"
            class="w-10 mr-2"
          />
          <span class="text-xl hidden md:block">Marsol Propiedades</span>
        </a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          {
            menu.map((mn) => (
              <li>
                <a href={mn.href}>{mn.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</div>
<div class="bg-base-100 shadow-sm md:hidden">
  <Container>
    <div class="navbar">
      <div class="flex-1">
        <button class="btn btn-circle" onclick="history.back()"
          ><ArrowLeft /></button
        >
      </div>
      <div class="flex-none flex items-center">
        <img
          src="https://marsolpropiedades.cl/logos/logo-completo.png"
          alt="Logo Marsol"
          class="w-10"
        />
      </div>
    </div>
  </Container>
</div>
