---
import "../styles/global.css";
import HeaderPropiedad from "@components/HeaderPropiedad.astro";
import FooterPropiedad from "@components/FooterPropiedad.astro";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
  contacto: string;
}

const { title, description, url, image, keywords } = Astro.props
  .dataPag as Props;
const { contacto } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="halloween">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: image,
        },
      }}
      extend={{
        meta: [{ name: "keywords", content: keywords.join(", ") }],
      }}
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/logos/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-base-200 text-base-content">
    <HeaderPropiedad />
    <slot />
    <FooterPropiedad contacto={contacto} />
  </body>
</html>
